<div class="loginComponent">
    <div class="row">
        <div class="col-6 leftSide">
            <div class="leftSideContent">
                <h1 class="mb-3">Welcome to Acme.</h1>

                <h6 class="mb-5">Create your account by filling the form bellow.</h6>

                <div class="input-group">
                    <p class="inputLabel">Email</p>
                    <input type="email" name="email" id="email">
                </div>

                <div class="input-group mt-4">
                    <p class="inputLabel">Password</p>
                    <input type="password" name="password" id="password">
                </div>

                <div class="checkbox-group mt-4">
                    <input type="radio">
                    <h5 class="d-inline-block ms-2">Remember me</h5>
                </div>

                <button class="mt-2 float-end">
                    <div class="white-text">Sign in</div>
                </button>
            </div>

            <div class="copyrightText">
                <p class="d-inline"> &copy; {{year}} Acme, Inc. </p>
                <div class="grey-text ms-2 d-inline">Terms</div>
                <div class="grey-text ms-2 d-inline">Privacy</div>
                <div class="grey-text ms-2 d-inline">&mldr;</div>
            </div>


        </div>

        <div class="col-6 rightSide">
            <div class="rightSideContent">
                <img src="assets/images/acme.png" alt="">
                <h2 class="mt-4">Do you already have an account?</h2>
                <h4>That's awesome! You can login by clicking on the button yellow. To skip this next time, yot can ask
                    us to remember your login credentials.
                </h4>
                <button class="transparentButton mt-2">
                    <div class="white-text">Log in</div>
                </button>
            </div>

        </div>
    </div>
</div>
