$primary-grey0: #A1A1A1;
$primary-white: #FFFFFF;
$primary-grey1: #757575;
$primary-blue: #4A90E2;
$primary-grey2: #E0E0E0;
$primary-yellow: #F9C466;
$primary-grey3: #BEBEBE;
$primary-green: #0A96A3;
$primary-grey4: #D4D4D4;
$primary-grey5: #F7F7F7;
$primary-red: #CD4146;
$primary-black: #000000;
